@import "common/var";

.ev-button {
  display: inline-block;
  line-height: 1;
  min-height: 40px;
  white-space: nowrap;
  cursor: pointer;
  color: $--color-white;
  background: $--color-primary;
  border: 1px solid $--color-primary;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: $--border-radius-base;

  &:focus,
  &:hover {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  &.is-glass {
    color: $--color-primary;
    background: $--glass-color-base;
    border: 1px solid $--glass-color-base;

    &:focus,
    &:hover {
      color: $--color-white;
      background: $--color-primary;
      border: 1px solid $--color-primary;
    }

    &:active {
      color: $--color-white;
      background: $--color-primary-light-3;
      border: 1px solid $--color-primary-light-3;
      outline: none;
    }
  }

  &.is-round {
    border-radius: 20px;
    padding: 12px 23px;
  }

  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}